.main-wrapper {
    .profile_section {
        background-color: #111;
        padding: 20px 0;

        h1 {
            color: #fff;
            margin-bottom: 0;
            text-align: center;
            font-size: x-large;
            font-weight: 600;
        }
    }
}